WEB-INF/wsdl/172.17.4.111_7023/WsCargaReporte-WsCargaReporte-context-root/MetodosPort.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. --><xsd:schema xmlns:ns0="http://WsCargaReporte/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://WsCargaReporte/"><xsd:complexType name="ejecuta_certificadoResponse"><xsd:sequence><xsd:element name="return" type="ns0:retDatos" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="retDatos"><xsd:sequence><xsd:element name="gb_reporte" type="xsd:base64Binary" minOccurs="0"/><xsd:element name="gs_error" type="xsd:string" minOccurs="0"/><xsd:element name="gs_exito" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="ejecuta_certificado"><xsd:sequence><xsd:element name="banco" type="xsd:string" minOccurs="0"/><xsd:element name="sucursal" type="xsd:string" minOccurs="0"/><xsd:element name="canal" type="xsd:string" minOccurs="0"/><xsd:element name="fecha_hora" type="xsd:string" minOccurs="0"/><xsd:element name="comprobante_pago" type="xsd:string" minOccurs="0"/><xsd:element name="certificado" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="ejecuta_certificadoResponse" type="ns0:ejecuta_certificadoResponse"/><xsd:element name="ejecuta_certificado" type="ns0:ejecuta_certificado"/></xsd:schema>